<div class="row navbar">
    <div class="col-lg-3 col-md-3 logo"><a href="#/home">
        <img src="/app/images/it-talents-logo1.png" alt=""></a></div>
    <div class="col-lg-1 col-md-1 nav blueNav" id="active"><a href="#/home">
        <img src="/app/images/home-5-xxl.png" alt=""></a></div>
    <div class="col-lg-1 col-md-1 nav yellow animate" ><a href="#/students">
        <img src="/app/images/student.png"></a></div>
    <div class="col-lg-1 col-md-1 nav orange animate"><a href="#/projects">
        <img src="/app/images/project.png" alt=""></a></div>
    <div ng-controller="LoginController">
        <div class="col-lg-1 col-md-1 nav green animate" ng-hide="identity.isAuthenticated()">
            <a href="#/register">
                <img src="/app/images/login.png" alt=""></a>
        </div>

        <div  class="col-lg-1 col-md-1 nav pink animate"
              ng-show="identity.isAuthenticated()">
            <a href='#' ng-click="logout()">
                <img src="/app/images/login.png" alt=""></a>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 info">
        <h3>Who are we and what is our purpose?</h3>
        <img src="/app/images/divider-white.png" alt="">
        <p>We are the link between the students and the recruiting companies. We keep both sides informed and
            help you to get to know each other in advance. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at aut consectetur cupiditate dicta earum esse expedita fugiat minus nisi, officiis placeat quas repellat repudiandae soluta, sunt ut! Fugit ipsam magni unde. Asperiores blanditiis culpa delectus deserunt distinctio dolorem eius, error fugit harum incidunt iusto maxime optio perferendis porro provident quam qui quibusdam repudiandae saepe veniam veritatis voluptate voluptatem voluptatum! Aspernatur excepturi fuga molestiae nobis nostrum odio, sequi voluptatum!.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners green secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 imperia partner">
                <a href=""><img src="/app/images/imperia.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 trader partner">
                <a href=""><img src="/app/images/trader.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 ikonomika partner">
                <a href=""><img src="/app/images/SP-ikonomika.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 economics partner">
                <a href=""><img src="/app/images/economics.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners yellow secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 fadata partner">
                <a href=""><img src="/app/images/fadata.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 nemetscheck partner">
                <a href=""><img src="/app/images/nemetschek.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 neterra partner">
                <a href=""><img src="/app/images/neterra.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 perpetto partner">
                <a href=""><img src="/app/images/perpetto.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners orange secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4  partner">
                <a href=""><img src="/app/images/gopler.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4  partner">
                <a href=""><img src="/app/images/indigoverge.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 partner">
                <a href=""><img src="/app/images/scalefocus.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 partner">
                <a href=""><img src="/app/images/edge-soft.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners pink secondary last">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 musala partner">
                <a href=""><img src="/app/images/musala.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 pcloud partner">
                <a href=""><img src="/app/images/pcloud.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 synchr partner">
                <a href=""><img src="/app/images/syncHR.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 software partner">
                <a href=""><img src="/app/images/SAG-software.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/app/js/animations.js"></script>