<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 info">
        <h3>Who are we and what is our purpose?</h3>
        <hr>
        <p>We are the link between the students and the recruiting companies. We keep both sides informed and
            help you to get to know each other in advance. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at aut consectetur cupiditate dicta earum esse expedita fugiat minus nisi, officiis placeat quas repellat repudiandae soluta, sunt ut! Fugit ipsam magni unde. Asperiores blanditiis culpa delectus deserunt distinctio dolorem eius, error fugit harum incidunt iusto maxime optio perferendis porro provident quam qui quibusdam repudiandae saepe veniam veritatis voluptate voluptatem voluptatum! Aspernatur excepturi fuga molestiae nobis nostrum odio, sequi voluptatum! Accusamus aliquid corporis culpa, doloremque, ea eius ipsa iusto mollitia nam nisi nostrum repudiandae sapiente similique tempora tenetur velit, veritatis. Consequatur dolore, exercitationem illum iusto maiores molestias officiis quia repudiandae veritatis.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners green secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 imperia partner">
                <a href=""><img src="../../public/app/images/imperia.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 trader partner">
                <a href=""><img src="../../public/app/images/trader.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 ikonomika partner">
                <a href=""><img src="../../public/app/images/SP-ikonomika.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 economics partner">
                <a href=""><img src="../../public/app/images/economics.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners yellow secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 fadata partner">
                <a href=""><img src="../../public/app/images/fadata.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 nemetscheck partner">
                <a href=""><img src="../../public/app/images/nemetschek.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 neterra partner">
                <a href=""><img src="../../public/app/images/neterra.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 perpetto partner">
                <a href=""><img src="../../public/app/images/perpetto.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners orange secondary">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4  partner">
                <a href=""><img src="../../public/app/images/gopler.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4  partner">
                <a href=""><img src="../../public/app/images/indigoverge.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 partner">
                <a href=""><img src="../../public/app/images/scalefocus.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 partner">
                <a href=""><img src="../../public/app/images/edge-soft.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12 partners pink secondary last">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-4 musala partner">
                <a href=""><img src="../../public/app/images/musala.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 pcloud partner">
                <a href=""><img src="../../public/app/images/pcloud.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 synchr partner">
                <a href=""><img src="../../public/app/images/syncHR.png" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-4 software partner">
                <a href=""><img src="../../public/app/images/SAG-software.png" alt=""></a>
            </div>
        </div>
    </div>
</div>