

<div class="row jumbotron">
    <div class=" panel panel-default" ng-repeat="project in projects">
        <div class="panel-body">
            <div>
                <hr>
                <h1 class="intro-text text-center">{{project.name}}</h1>
                <hr>
            </div>
            <div class="col-lg-12 text-center">
                <a href="{{project.githubUrl}}">view in GitHub</a>
                <div class="bg-info">
                    <p>{{project.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
