<div class="projectReview">
    <div class="row projectName">
        <h1>{{project.name}}</h1>
        <img src="/app/images/divider.png" alt="">
        <br>
    </div>
    <ul class="row">
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-4 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
        <li class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
            <img class="img-responsive animate" src="/app/images/random-colors.jpg">
        </li>
    </ul>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="row projectInfo">
        <p><h3>Project description :</h3>{{project.description}}</p>
        <p><h3>View source site : </h3><a href="{{project.githubUrl}}">{{project.name}}</a></p>
        <p><h3>IT Talents season :</h3>Some Season</p>
</div>
</div>
